.filter,
.pastRecords {
  position: absolute;
  font-weight: 900;
}
.pastRecords {
  height: 6.54%;
  width: 62.43%;
  top: 15.92%;
  left: 11.74%;
  font-size: 48.83px;
  display: inline-block;
}
.filter {
  top: 34.77%;
  left: 4.72%;
  font-size: 31.25px;
}
.date {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 163px;
  height: 40px;
  flex-shrink: 0;
}
.search {
  position: absolute;
  height: 3.91%;
  width: 13.89%;
  top: 34.96%;
  right: 73.61%;
  bottom: 61.13%;
  left: 12.5%;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  padding: 0 var(--padding-lg);
  align-items: flex-start;
  text-align: center;
}
.entryType,
.search,
.search1 {
  display: flex;
  justify-content: center;
}
.search1 {
  position: absolute;
  height: 3.91%;
  width: 13.89%;
  top: 34.96%;
  right: 58.33%;
  bottom: 61.13%;
  left: 27.78%;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  padding: 0 var(--padding-lg);
  align-items: flex-start;
  text-align: center;
}
.entryType {
  position: relative;
  align-items: center;
  width: 160px;
  height: 40px;
  flex-shrink: 0;
}
.no,
.search2 {
  position: absolute;
}
.search2 {
  height: 3.91%;
  width: 13.89%;
  top: 34.96%;
  right: 42.99%;
  bottom: 61.13%;
  left: 43.13%;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.no {
  top: 13px;
  left: 112px;
}
.amount,
.date1,
.supplier1,
.type {
  position: absolute;
  top: 13px;
  left: 211px;
  display: inline-block;
  width: 105px;
}
.amount,
.supplier1,
.type {
  left: 321px;
  width: 90px;
}
.amount,
.supplier1 {
  left: 441px;
}
.amount {
  left: 1101px;
  width: 195px;
}
.productListChild,
.productListItem {
  position: absolute;
  box-sizing: border-box;
}
.productListChild {
  top: 39.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-gainsboro);
  width: 1301px;
  height: 1px;
}
.productListItem {
  top: -9.5px;
  left: 89.5px;
}
.lineDiv,
.productListInner,
.productListItem {
  border-right: 1px solid var(--color-gainsboro);
  width: 1px;
  height: 201px;
}
.productListInner {
  position: absolute;
  top: -9.5px;
  left: 199.5px;
  box-sizing: border-box;
}
.lineDiv {
  top: -8.5px;
  left: 1080.5px;
}
.lineDiv,
.productListChild1,
.tickbox {
  position: absolute;
  box-sizing: border-box;
}
.productListChild1 {
  top: -39.5px;
  left: 309.5px;
  border-right: 1px solid var(--color-gainsboro);
  width: 1px;
  height: 201px;
}
.tickbox {
  height: 16.26%;
  width: 1.54%;
  top: 10.57%;
  right: 97.31%;
  bottom: 73.17%;
  left: 1.15%;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-lightgray);
  overflow: hidden;
}
.description {
  position: absolute;
  top: 13px;
  left: 660px;
  display: inline-block;
  width: 90px;
}
.productListChild2,
.productListChild3 {
  position: absolute;
  top: -3.5px;
  left: 420.5px;
  border-right: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 1px;
  height: 201px;
}
.productListChild3 {
  left: 640.5px;
}
.background,
.productList {
  position: absolute;
  overflow: hidden;
}
.productList {
  height: 12.01%;
  width: 90.28%;
  top: 41.7%;
  right: 4.93%;
  bottom: 46.29%;
  left: 4.79%;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.background {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke);
}
.span {
  font-weight: 900;
}
.goBack {
  position: absolute;
  top: 100px;
  left: 70px;
  text-decoration: underline;
  cursor: pointer;
}
.groupIcon {
  position: absolute;
  height: 5.96%;
  width: 4.24%;
  top: 15.63%;
  right: 89.72%;
  bottom: 78.42%;
  left: 6.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.search4 {
  position: relative;
  display: flex;
  align-items: center;
  width: 731px;
  height: 40px;
  flex-shrink: 0;
}
.logoIcon,
.search3,
.vectorIcon {
  position: absolute;
  overflow: hidden;
}
.search3 {
  height: 7.03%;
  width: 90.28%;
  top: 24.61%;
  right: 4.86%;
  bottom: 68.36%;
  left: 4.86%;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0 67px;
  align-items: flex-start;
  justify-content: center;
  font-size: var(--font-size-6xl);
  color: var(--color-darkgray-100);
}
.logoIcon,
.vectorIcon {
  height: 2.44%;
  width: 1.74%;
  top: 26.86%;
  right: 91.67%;
  bottom: 70.7%;
  left: 6.6%;
  max-width: 100%;
  max-height: 100%;
}
.logoIcon {
  height: 65.63%;
  width: 12.43%;
  top: 23.44%;
  right: 86.32%;
  bottom: 10.94%;
  left: 1.25%;
  object-fit: cover;
}
.vectorIcon1 {
  position: relative;
  width: 18px;
  height: 16px;
}
.logOut {
  position: relative;
  display: inline-block;
  width: 79px;
  flex-shrink: 0;
}
.logout {
  position: absolute;
  top: 18px;
  left: 1303px;
  width: 103px;
  height: 27px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.vectorIcon2 {
  position: relative;
  width: 15px;
  height: 16px;
}
.home1 {
  position: relative;
  display: inline-block;
  width: 58px;
  flex-shrink: 0;
}
.home {
  position: absolute;
  top: 18px;
  left: 1074px;
  width: 79px;
  height: 27px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.vectorIcon3 {
  position: relative;
  width: 14px;
  height: 16px;
}
.profile1 {
  position: relative;
  display: inline-block;
  width: 59px;
  flex-shrink: 0;
}
.profile {
  position: absolute;
  top: 18px;
  left: 1190px;
  width: 79px;
  height: 27px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.blackBar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 1440px;
  height: 64px;
  overflow: hidden;
  color: var(--color-white);
}
.records {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 1024px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-avenir);
}
